# requirements.txt for TrustyPet Flask application

flask==2.0.1
flask-socketio==5.1.1
flask-cors
flask-bcrypt==0.7.1
pymongo==4.0.1
pandas==1.4.2
setuptools==64.1.0
six==1.16.0

numpy==1.21.0
scikit-learn==0.24.2
googlemaps==4.5.3
geopy==2.3.1
Pillow==9.0.1
torch==1.10.0
torchvision==0.11.1
efficientnet-pytorch==0.7.1
opencv-python==4.5.5.62
mysql-connector-python==8.0.28
